:root {
    --clr_bg_backdrop: rgba(1,1,1,0.5);
}

.modal-backdrop {
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(1, 1, 1, 0.7);

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}
.modal-container {
  display: grid;
  width: 80%;
  height: 60%;
  background: white;
  grid-template-columns: 1fr 1fr;
}
@media (min-width: 1000px) {
  .modal-container {
    width: 900px;
  }
}
@media (max-width: 860px) {
  .modal-container {
    display: grid;
    width: 95%;
    height: 80%;
  }
}
@media (max-width: 770px) {
  .modal-container {
    display: grid;
    width: 90%;
    height: 90%;
    grid-template-columns: 1fr;
    grid-template-rows: 55% 40%;
  }
  .right-side .section1 {
    grid-row-start: 3;
  }
  .right-side .section2 {
    grid-row-start: 2;
    grid-row-end: 3;
  }
}
.side {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 8% 80% 12%;
}
.left-side {
    background-color: #000001;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23680656'/%3E%3Cstop offset='1' stop-color='%23680656' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%231f105d'/%3E%3Cstop offset='1' stop-color='%231f105d' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23af2a7c'/%3E%3Cstop offset='1' stop-color='%23af2a7c' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23000001'/%3E%3Cstop offset='1' stop-color='%23000001' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23C45716'/%3E%3Cstop offset='1' stop-color='%23C45716' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23623E9A'/%3E%3Cstop offset='1' stop-color='%23623E9A' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}
.section1 {
    width: 100%;
    height: 100%;
    padding-top: 18px;
}
.section2 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section3 {
    width: 100%:
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .item {
  width: 250px;
  height: 340px;
  background-color: coral;
} */
/* Left side */
/* ellipse icon */
.icon-container {

    margin-inline: auto;
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
}

.upload-image-label {
  width: 80%;
  height: 70%;
  background-color: #dedede;
  padding: 1em;
}
.upload-image-container {
  width: 100%;
  height: 100%;
}
.dotted-border {
  width: 100%;
  height: 100%;
  border: 2px dotted grey;
}

/* Left side section3 */
.section2 .item-upload {
  display: none;
  width: 225px;
  height: 400px;
} 
.section2 .item-upload img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
}
.section3 .btn-lg {
    width: 80%;
    padding: 12px 0;
}

/* file input */
input#upload-image {
  width: 0;
  height: 0;
  opacity: 0;
}
/* Right side */
/* section1 */
.btn {
    padding: 8px 18px;
}
.select-input {
  
  border: 1px solid black;;
}
.right-side .section1 {
    text-align: right;
    margin: auto 0;
    padding-right: 16px;
}

/* Modal input form -- right side */
.form-container {
  width: 90%;
  height: 100%;
}
.form-container > form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.input-field {
  display: flex;
  flex-direction: column;
}
.input-field > input {
  width: 100%;
  height: 3em;
  border: none;
  border-bottom: 2px solid grey;
  outline: none;
}
.input-field > input:focus {
  border-color: #4992f2;
}
